// Variables

// _____Colors_____

$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 48%);
$light-gray: hsl(0, 0%, 75%);
// _____Typography_____

$font-size: 16px;
$font-family: "Commissioner", sans-serif; // Weights : 400, 500, 700

// Mobile: 375px
// Desktop: 1440px
// _____MEDIA QUERIES_____
$mq_xxl: 1440px;
$mq_xl: 1100px;
$mq_l: 950px;
$mq_m: 700px;
// Edits it until 375px width__
$mq_s: 520px;
